name: Documents

on:
  push:
    branches:
      - main
    paths:
      - "docs/**/*.ts"
      - "docs/**/*.vue"
      - "docs/**/*.mts"
      - "docs/**/*.css"
      - "docs/**/*.md"
      - "docs/assets/*"
      - "public/**/*"
      - "package.json"
      - ".github/workflows/doc*.yml"
  pull_request:
    types: [ opened, synchronize, reopened ]
    paths:
      - "docs/**/*.ts"
      - "docs/**/*.vue"
      - "docs/**/*.mts"
      - "docs/**/*.css"
      - "docs/**/*.md"
      - "docs/assets/*"
      - "public/**/*"
      - "package.json"
      - ".github/workflows/doc*.yml"
jobs:
  documents:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up nodejs
        uses: actions/setup-node@v6
        with:
          node-version: current

      - name: Install Dependencies
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm config set store-dir .pnpm-store
          pnpm install

      - name: Build Documentation
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm docs:build

      - name: Deploy to server
        if: github.event_name != 'pull_request'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy "docs/.vitepress/dist/" --branch=main --commit-dirty=true --project-name=cosy-docs
